html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-areas:
    'header header header header'
    'hero hero hero hero'
    'about about about about'
    'services services services services'
    'projects projects projects projects'
    'footer footer footer footer';
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* HEADER */
.header {
  grid-area: header;
  background-color: #fff;
}

.header .header-container {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.header h1 {
  font-size: 3rem;
  font-weight: 700;
  transition: 0.3s;
}

.header a:hover h1 {
  color: coral;
  
}

/* HERO */
.hero {
  grid-area: hero;
  height: 89vh;
  background: url('../img/lemons.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 4rem;
}

 

/* ABOUT */
.about {
  grid-area: about;
}

/* SERVICES */
.services {
  grid-area: services;
}

/* PROJECTS */
.projects {
  grid-area: projects;
}

/* FOOTER */
.footer {
  grid-area: footer;
}
